
.board-box{
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-piece{
    background-repeat: no-repeat;
    background-position: center;
    width: calc((100vh * 0.9) / 8);
    height: calc((100vh * 0.85) / 8);
    background-size: contain;

}


.box-piece:hover{
    cursor: grab;
}

.box-piece:active{
    cursor: grabbing;
}

.box-black {
    background-color: #769656;
}

.box-white {
    background-color: #eeeed2;
}

.box-highlight::before{

    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(81, 203, 238, 0.4);

}
