
.board-box{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}


.box-piece{
    background-repeat: no-repeat;
    background-position: center;
    width: calc((100vh * 0.9) / 8);
    height: calc((100vh * 0.85) / 8);
    background-size: contain;
    overflow:hidden;
}


.box-piece:hover{
    cursor: grab;
}

.box-piece:active{
    cursor: grabbing;
}

.box-black {
    background-color: #769656;
}

.box-white {
    background-color: #eeeed2;
}

.box-highlight:not(.box-highlight-opp):before{

    content: " ";
    width: calc((100vh * 0.9) / 8);
    height: calc((100vh * 0.85) / 8);
    background-color: rgba(81, 203, 238, 0.4);
}

.box-highlight-opp::before{
    position: absolute;
    content: " ";
    width: calc((100vh * 0.9) / 8);
    height: calc((100vh * 0.85) / 8);
    background-color: rgba(255, 87, 51, 0.4);
}

@media screen and (orientation: portrait){

    .box-piece{
        background-repeat: no-repeat;
        background-position: center;
        width: calc((100vw * 0.9) / 8);
        height: calc((100vw * 0.85) / 8);
        background-size: contain;
    }

    .box-highlight:not(.box-highlight-opp):before{

        content: " ";
        width: calc((100vw * 0.9) / 8);
        height: calc((100vw * 0.85) / 8);
        background-color: rgba(81, 203, 238, 0.4);
    }
    
    .box-highlight-opp::before{
        position: absolute;
        content: " ";
        width: calc((100vw * 0.9) / 8);
        height: calc((100vw * 0.85) / 8);
        background-color: rgba(255, 87, 51, 0.4);
    }

}